.nav-bar {  
    background: var(--bg-principal);
    color: var(--color-claro);
    font-size: 16px;
  }

  .navbrand {
    font-size: 1.3rem;
  }
  .navbrand:hover {
    color: orange;
    border-radius: 20px;
  }
  .barra-menu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;
  }

  .s-izquierdo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
  }

  .s-derecho {
    justify-content: end;
    display: flex;
    position: relative;
    
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  
  .menu-vertical {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    flex-direction: column;
    justify-content: left; 
    align-items:start;
    gap: 1rem;
    background: var(--bg-principal);
    border-radius: 8px;
    z-index: 2;
    padding: 1rem;
   
  }
  .item-lista {
    text-align: center;
    width: 100%;
  }

  .nav-bar .nav-link {
    color: var(--color-claro);
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-bar .nav-link:hover {
    color: var(--color-claro);
    background-color: orange;
    border-radius: 8px;
  }
  .top-box {
    background: rgba(0, 40, 83, 1);
    display:flex;
    justify-content: space-around;
  }

  .hamburguesa:hover {
    color: var(--color-gra-1);
  }

  @media (max-width: 768px) {
    .barra-menu {
      flex-direction: column;
    }
    .s-izquierdo , .s-derecho {
      width: 100%;
      justify-content: space-between;
      
    }
  }