
.bg-gradiente {
  /* background: linear-gradient(to bottom,#e0e0e0, #b0f1f3);  */
     /* ff 3.6+ */
     background:-moz-linear-gradient(90deg, rgba(212, 180, 212, 0.96) 0%, rgba(143, 206, 218, 0.98) 97%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(90deg, rgba(212, 180, 212, 0.96) 0%, rgba(143, 206, 218, 0.98) 97%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(90deg, rgba(212, 180, 212, 0.96) 0%, rgba(143, 206, 218, 0.98) 97%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8FCEDA', endColorstr='#D4B4D4', GradientType=0 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(90deg, rgba(212, 180, 212, 0.96) 0%, rgba(143, 206, 218, 0.98) 97%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(90deg, rgba(212, 180, 212, 0.96) 0%, rgba(143, 206, 218, 0.98) 97%);
}

.navbar {
  background-color: #03a9f4;
}
.hero-container {
  background: linear-gradient(#aeeeee, #7d9ef8);
}
.precio {
  position: relative;
}

.precio:after {
  position: absolute;
  right: 40%;
  bottom: -1px;
  height: 3px;
  width: 62px;
  background: purple;
  content: "";
}

.img-carousel-item {
  height: 500px;
  object-fit: cover;
  object-position: bottom;
}

.lista-zap-grid {
  margin-top: 3px;
}




