@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body { 
  font-family: 'Roboto', sans-serif;
  /* background: #202020; */
  background: #111827;
  color: white; 
  min-width: 320px;
  min-height: 100vh;
}

