.footer {
  position: relative;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  gap: 3rem  ; */
  padding: 3rem;
  font-family: "Liberation Sans";
  font-size: 1.2rem;
  color: var(--tiza);
  height: auto;
  background-image: url("/img/wave.svg"); 
  background-repeat: no-repeat;
  background-attachment: local;
  background-size:cover; 
}

.f-contenido {
  margin-top: 5rem;
  display:flex;
  justify-content:space-between; 
  align-items:center;
  width: auto;
  height: auto;
  padding: 2rem;
  gap: 3rem;
  
}

.d-panel *:hover {
  color: var(--color-gra-1);
  cursor: pointer;
}
.developer:hover {
  color:#ec8c0d;
  cursor: pointer;
}
.footer a, Link {
  text-decoration: none;
  color: var(--tiza);
} 
.footer a:visited {
  color: var(--tiza);
}
.copyright {
  text-align: center;
}
@media (max-width:764px) {
  .footer {
    font-size: 0.8rem;
  }
}